/* ----------GENERAL---------- */
#blocpage
{
       display: flex;
}
body
{
    margin: 0;
    font-family: 'Crete Round', serif;
}



/* ----------ASIDE---------- */
#sidebar
{
    width: 30%;
    background-color: #FFCA28;
}
.titreaside
{
    color: #FFCA28;
    background-color: #424242;
    text-align: center;
}
#textaproposdemoi
{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    
}
.textcontact
{
    margin-left: 15%;
}
.profil
{
    display: flex;
    justify-content: center;
}
#logo
{
    font-size: 250%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 5%;
}
.langue
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: -20px;
    margin-top: -20px;
}


/* ----------HEADER---------- */
.benjamin
{
    color: #FFCA28; 
}
#dev
{
    margin-top: -22px;
}

    



/* ----------BODY---------- */
#corps 
{
    width: 70%;
    margin-left: 50px;
}
#trait
{
    border-top: 1px solid #FFCA28;
    width: 50px;
    margin-top: -15px;
}
.trait1
{
    border-top: 1px solid #FFCA28;
    width: 100%;
    margin-top: -15px;
}
.conteneur1
{
   float: left;
   margin-top: -3px;
}
.conteneur2 
{
   margin-left: 35%;
   float: none;
   margin-right: 5%;
}
ul
{
    list-style: none;
}
#logo4
{
    font-size: 150%;
    float: left;
    margin-right: 4%;
}
#logo5
{
    font-size: 150%;
    float: left;
    margin-right: 4%;
}
#logo6
{
    font-size: 150%;
    float: left;
    margin-right: 4%;
}
.textbarre
{
    text-align: center;
    width: 10%;
    margin-left: 2%;
}
.placementbarre
{
    text-align: center;
    width: 30%;
    margin-left: 0px;
}
.placementbarre img
{
    width: 100%;
}
.competences
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.recommandation
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -10%;
    flex-wrap: wrap;
}






/* ----------MEDIA 1300px---------- */
@media all and (max-width: 1300px)


    
    
/* ----------BODY---------- */
{
    .placementbarre
    {
        width: 30%;
        margin-left: 0px;
    }
    .placementbarre img
    {
        width: 100%;
        margin-left: 17%;
    }
    .competences
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


















/* ----------MEDIA 800px---------- */
@media all and (max-width: 800px)
{
/* ----------GENERAL---------- */
    #blocpage
    {
        flex-direction: column;
    }
    
 
    
/* ----------ASIDE---------- */
    #sidebar
    {
        width: 100%;
    }
    .textcontact
    {
        margin-left: 0%;
        text-align: center;
    }
    .profil
    {
        display: flex;
        justify-content: flex-end;
    }
    #logo
    {
        margin-bottom: 3%;
    }
 
    
    
/* ----------HEADER---------- */    
    header
    {
        position: absolute;
        top: 30px;
        left: 20px;
        font-size: 85%;
    }
    .benjamin
    {
        color: black;
    }
 
    
    
/* ----------BODY---------- */
    .textbarre
    {
        margin-left: 55%;
    }
    .placementbarre
    {
        text-align: center;
        width: 30%;
        margin-left: 0px;
    }
    .placementbarre img
    {
        width: 250%;
        margin-left: 75%;
    }
    .competences
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .recommandation
    {
        margin-left: 20%;
    }
}











/* ----------MEDIA 450px---------- */
@media all and (max-width: 450px)
{
/* ----------GENERAL---------- */
    #blocpage
    {
        flex-direction: column;
    }
    
    
    
/* ----------ASIDE---------- */
    #sidebar
    {
        width: 100%;
    }
    .textcontact
    {
        margin-left: 0%;
        text-align: center;
    }
    figure
    {
        display: flex;
        justify-content: flex-end;
    }
    #logo
    {
        margin-bottom: 3%;
    }
    
    
/* ----------HEADER---------- */    
    header
    {
        position: absolute;
        top: 50px;
        left: 20px;
        font-size: 65%;
    }
    .benjamin
    {
        color: black;
    }
    #dev
    {
        margin-top: -15px;
    }
    
/* ----------BODY---------- */

    .conteneur2 
    {
        margin-left: 40%;
    }
    .textbarre
    {
        margin-left: 45%;
    }
    .placementbarre
    {
        width: 50%;
        margin-left: 40%;
    }
    .placementbarre img
    {
        width: 150%;
    }
    .competences
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #titre
    {
        font-size: 140%;
    }
}









/* ----------MEDIA 375px---------- */
@media all and (max-width: 375px)
{
/* ----------GENERAL---------- */
    #blocpage
    {
        flex-direction: column;
    }
    
    
    
/* ----------ASIDE---------- */
    #sidebar
    {
        width: 100%;
    }
    .textcontact
    {
        margin-left: 0%;
        text-align: center;
    }
    figure
    {
        display: flex;
        justify-content: flex-end;
    }
    #logo
    {
        margin-bottom: 3%;
    }
    
    
/* ----------HEADER---------- */    
    header
    {
        position: absolute;
        top: 50px;
        left: 20px;
        font-size: 55%;
    }
    .benjamin
    {
        color: black;
    }
    
    
/* ----------BODY---------- */

    #dev
    {
        margin-top: -8%;
        font-size: 130%;
    }
    .conteneur2 
    {
        margin-left: 40%;
    }
    #titre
    {
        font-size: 130%;
    }
}


















